name: Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.0

      - name: Test
        run: |
          sudo apt install just
          just test
